## Beyin Felci (İnme) Nedir?

İnme adıyla olarak da bilinen beyin felci; beyne giden damarların tıkanması sonucunda beyne kan gitmemesi ya da aşırı gitmesi ile damarlarda meydana gelen yırtılmalar, beynin bir bölgesinin hasar görmesi gibi durumların oluşması ile meydana gelir.
**İnme;** beynin bir bölümünün kanlanmasının bozulması ve fonksiyon kaybına uğramasıdır. Bu beynin kontrolünde olan vücut bölgesinin çalışamamasına yol açar. Serebrovasküler olay olarak da adlandırılır. Kanayıcı (beyin kanaması) ve tıkayıcı (beyin damar tıkanıklığı) olmak üzere iki tipi vardır. Geçici iskemik atak, inme belirtilerinin 24 saat içinde kendiliğinden düzelmesidir.

<img src="beyin.jpg"/>

Belirtiler nelerdir?
İnme belirtileri tek başına veya birlikte ortaya çıkabilir ve birkaç dakika veya birkaç saat sürebilir. Siz veya çevrenizden biri bu uyarı işaretlerinden bir veya daha fazlasını fark ederse, derhal tıbbi yardım isteyin. Halkın inme uyarı işaretleri ve risk faktörleri hakkındaki yetersiz bilgisi, etkili inme müdahalesini ve önlenmesini sınırlamaktadır. İnme belirtileri kaybolsa bile, daha büyük bir inmenin olabileceğine dair açık bir uyarıdır.
Genellikle vücudun bir tarafında olmak üzere yüzde, kolda veya bacakta ani güçsüzlük veya uyuşma
Konuşma veya dili anlama güçlüğü
Bir veya iki gözde azalmış veya bulanık görme
Ani, şiddetli baş ağrısı
Açıklanamayan denge kaybı veya baş dönmesi

**Belirtiler nelerdir?** 

İnme belirtileri tek başına veya birlikte ortaya çıkabilir ve birkaç dakika veya birkaç saat sürebilir. Siz veya çevrenizden biri bu uyarı işaretlerinden birini veya daha fazlasını fark ederse, derhal tıbbi yardım isteyin. Halkın inme uyarı işaretleri ve risk faktörleri hakkındaki yetersiz bilgisi, etkili inme müdahalesini ve önlenmesini sınırlamaktadır. İnme belirtileri kaybolsa bile, daha büyük bir inmenin olabileceğine dair açık bir uyarıdır. 

- Genellikle vücudun bir tarafında olmak üzere yüzde, kolda veya bacakta ani güçsüzlük veya uyuşma
- Konuşma veya dili anlama güçlüğü
- Bir veya iki gözde azalmış veya bulanık görme
- Ani, şiddetli baş ağrısı
- Açıklanamayan denge kaybı veya baş dönmesi

İnme belirtileri fark ederseniz, "HIZLI" düşünün ve aşağıdakileri yapın:

- **Yüz:** Kişiden gülümsemesini isteyin. Yüzün bir tarafı sarkık mı?
- **Kollar:** Kişiden her iki kolunu da kaldırmasını isteyin. Bir kol aşağı doğru kayıyor mu? Ya da bir kol yukarı kalkamıyor mu?
- **Konuşma:** Kişiden basit bir cümleyi tekrar etmesini isteyin. Konuşması bulanık ya da garip mi?

- **Zaman:** Bu belirtilerden herhangi birini gözlemlerseniz derhal 911'i arayın. Belirtilerin ilk başladığı zamanı not edin.

### Nedenleri nelerdir? 
**Değiştiremeyeceğiniz risk faktörleri**

- **Yaş** - kişi yaşlandıkça inme geçirme olasılığı artar.
- **Cinsiyet** - erkeklerin inme geçirme olasılığı kadınlara göre daha yüksektir.
- **Irk** - Afrikalı Amerikalılar Kafkasyalılara göre iki kat daha fazla inme riskiyle karşı karşıyayken, Hispaniklerin daha genç yaşta inme geçirme olasılığı Hispanik olmayan Kafkasyalılara göre daha yüksektir. 

**Değiştirebileceğiniz risk faktörleri**

- **Yüksek kan basıncı (hipertansiyon)** - bu en baskın inme risk faktörüdür ve değiştirilmesi en kolay olanıdır. Kan basıncınızı düzenli olarak kontrol edin ve kontrol altında tutun.
- **Sigara içmek** - tütün kullanımı inme riskinizi iki katına çıkarır. Eğer sigara içiyorsanız, bırakın.
- **Kilo** - Aşırı kilolu olmak sizi yüksek kolesterol, yüksek tansiyon ve diyabete yatkın hale getirir ve bunların hepsi inme riskini artırır. Aşırı kiloluysanız, diyetinizi değiştirin ve yağlı yiyecek alımınızı sınırlayın.
- **Diyabet** - insanları inme ile sonuçlanabilecek kardiyovasküler hastalıklara karşı duyarlı hale getirir. Diyabetiniz varsa, iyi kontrol altında tutun.
- Geçirilmiş inme veya GİA - başka bir inme geçirme riskinizi artırır. Bazı ilaçlar düzenli olarak alındığında inme riskini azaltabilir.
- **Kalp hastalığı** - kalp rahatsızlıkları, özellikle atriyal fibrilasyon (düzensiz kalp atışı), inme riskini artırır. Bazı ilaçlar düzenli olarak alınırsa riski azaltabilir.

## **Hasta Profili Özellikleri:**
1) **cinsiyet:** "Erkek", "Kadın" veya "Diğer" 
2) **yaş:** hastanın yaşı 
3) **hipertansiyon:** Hastanın hipertansiyonu yoksa 0, hipertansiyonu varsa 1 
4) **kalp hastalığı:** 0 hastanın herhangi bir kalp hastalığı yoksa, 1 hastanın bir kalp hastalığı varsa 
5) **Hiç evlenmediniz mi?** "Hayır" veya "Evet" 
6) **çalışma türü:** "çocuk", "devlet memuru", "hiç çalışmadı", "özel" veya "serbest meslek" 
7) **İkamet türü:** "Kırsal" veya "Kentsel" 
8) **avg glukoz seviyesi**: kandaki ortalama glukoz seviyesi 
9) **BMI:** vücut kitle indeksi 
10) **sigara_durumu:** "daha önce sigara içti", "hiç içmedi", "sigara içiyor" veya "Bilinmiyor "* 
11) **inme:** Hasta inme geçirmişse 1, geçirmemişse 0

In [1]:
import pandas as pd # Veri manipülasyonu ve analiz kütüphanesi
import seaborn as sns # Matplotlib tabanlı veri görselleştirme kütüphanesi

In [2]:
df=pd.read_csv("brain_stroke.csv")

In [3]:
df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1

In [4]:
df.shape

(4981, 11)

## AÇIKLAMA
>Yukarıdaki kod satırı ve tabloda, beyin felci geçirme durumu olan ve olmayanlara ait kişilere ilişkin verilerin **ilk 5 satırını içeren tablodur.** shape metodu ile de, tablonun kaç satır ve kaç sütundan oluştuğunu görüyoruz.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4981 entries, 0 to 4980
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             4981 non-null   object
 1   age                4981 non-null   float64
 2   hypertension       4981 non-null   int64
 3   heart_disease      4981 non-null   int64
 4   ever_married       4981 non-null   object
 5   work_type          4981 non-null   object
 6   Residence_type     4981 non-null   object
 7   avg_glucose_level  4981 non-null   float64
 8   bmi                4981 non-null   float64
 9   smoking_status     4981 non-null   object
 10  stroke             4981 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 428.2+ KB

## AÇIKLAMA
>.info() metodu, boş olmayan değerlerin sayısı ve her sütunun veri türü dahil olmak üzere DataFrame'in kısa bir özetini almak için kullanılır.
Çıktı size sütun adları, her sütundaki boş olmayan değerlerin sayısı ve her sütunun veri türü gibi bilgiler sağlayacaktır. Bu özet, veri kümesinin yapısını ve bütünlüğünü anlamak için faydalıdır.

In [6]:
def missing(df):
    missing_values = df.isnull().sum()
    missing_percent = (missing_values / len(df)) * 100
    return pd.concat([missing_values, missing_percent], axis=1, keys=['Missing_Number', 'Missing_Percent'])
missing(df)

                   Missing_Number  Missing_Percent
gender                          0              0.0
age                             0              0.0
hypertension                    0              0.0
heart_disease                   0              0.0
ever_married                    0              0.0
work_type                       0              0.0
Residence_type                  0              0.0
avg_glucose_level               0              0.0
bmi                             0              0.0
smoking_status                  0              0.0
stroke                          0              0.0

## AÇIKLAMA
>Bu kodda, DataFrame'de eksik değer olup olmadığını kontrol etmek için **isnull()** yöntemi kullanıldık.Ardından **sum()** yöntemi ile her sütundaki eksik değerlerin sayısını bulmak için kullandık. **missing_values** değişkeni her sütun için eksik değerlerin sayısını saklarken, **missing_percent** değişkeni de sayıyı toplam satır sayısına bölüp 100 ile çarparak eksik değerlerin yüzdesini hesaplar. Son olarak, **pd.concat()** fonksiyonu **missing_values** ve **missing_percent** serilerini sütunlar boyunca (axis=1) birleştirmek ve keys parametresini kullanarak 'Missing_Number' ve 'Missing_Percent' sütun adlarını atadık. Missing fonksiyonunu DataFrame df ile çağırdığınızda, her sütun için eksik değerlerin sayısını ve yüzdesini içeren yeni bir DataFrame elde ettik.

In [7]:
data=df.copy()

## AÇIKLAMA
>df üzerinde copy() yöntemi çağrıldık. Bu, df'nin derin bir kopyası olan yeni bir DataFrame nesnesi oluşturur, yani df ile aynı veri ve sütun yapısına sahiptir, ancak bellekte ayrı bir nesnedir. Kopya daha sonra değişken verilere atanır ve kopyalanan DataFrame ile orijinal df'den bağımsız olarak çalışmanıza olanak tanır. Bu, orijinal DataFrame'i değiştirmeden veriler üzerinde işlem yapmak istediğimiz için bu yola başvurduk.

In [8]:
data.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1

In [9]:
from sklearn.preprocessing import PowerTransformer
columns_to_transform = [ 'age', 'avg_glucose_level', 'bmi']
pt = PowerTransformer(method='yeo-johnson')
for column in columns_to_transform:
    pt.fit(data[[column]])
    transformed_data = pt.transform(data[[column]])
    data[column] = transformed_data

In [10]:
print(data[['age', 'avg_glucose_level', 'bmi']].head())

        age  avg_glucose_level       bmi
0  1.023392           1.869524  1.172545
1  1.544212           0.399299  0.639057
2  0.278762           1.451746  0.891298
3  1.504576           1.479587 -0.621439
4  1.583782           1.586391  0.148736

## AÇIKLAMA
>sklearn.preprocessing modülünden PowerTransformer sınıfının **yeo_johnson metodunu** kullanarak veri dönüşümü yaptık. Amaç,  ‘age’, ‘avg_glucose_level’ ve ‘bmi’ sütunlarındaki verilerİ normal bir dağılıma sahip olacak şekilde dönüştürmekti. Sütunlardaki verilerin dağılımını daha normal (Gauss dağılımına daha yakın) bir hale getirdik.

In [11]:
from sklearn.preprocessing import LabelEncoder
columns_to_encode = ['gender',  'ever_married','work_type', 'Residence_type','smoking_status']
for column in columns_to_encode:
    
    le = LabelEncoder()

   
    data[column] = le.fit_transform(data[column])

In [12]:
data.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,1.023392,0,1,1,1,1,1.869524,1.172545,1,1
1,1,1.544212,0,1,1,1,0,0.399299,0.639057,2,1
2,0,0.278762,0,0,1,1,1,1.451746,0.891298,3,1
3,0,1.504576,1,0,1,2,0,1.479587,-0.621439,2,1
4,1,1.583782,0,0,1,1,1,1.586391,0.148736,1,1

## AÇIKLAMA
>sklearn.preprocessing modülünden LabelEncoder sınıfını kullanarak kategorik verileri sayısal verilere dönüştürdük.

## **GÖRSELLEŞTİRME**

In [13]:
cm = sns.light_palette("green", as_cmap=True)

In [14]:
data.describe().T.style.background_gradient(cmap=cm)